.navbar {
    float: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5vmin;
}

.navbarEl {
    background-color: #4E6683;
    width: 15vmin;
    text-align: center;
    padding: 1vmin;
    margin: 1vmin;
}

a {
    color: #F6F3E4;
    text-decoration: none;
}

* {
    color: #F6F3E4;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    background-image: url('https://i.imgur.com/EhjdRid.jpg');
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding-bottom: 2vmin;
    background-repeat: none;
}

.home-page-content {
    display: flex;
    justify-content: space-around;
    margin: 0vmin 20vmin 0 30vmin;
}

.home-page-info {
    margin-right: 5vmin;
    width: 55vmin;
}

.home-navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5vmin;
}

h1 {
    font-size: 10vmin;
    margin-bottom: -1vmin;
    text-align: center;
}

.home-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.kk-img {
    margin-left: 20vmin;
    margin-top: 10vmin;
}

p {
    font-weight: 300;
    font-size: 3vmin;
}

h4 {
    font-size: 3vmin;
    margin: 3vmin 0;
    margin-bottom: -1vmin;
}

.kailah-korsh {
    float: left;
    margin-bottom: 0.6vmin;
}

.about-info {
    margin: 10vmin 0 0 15vmin;
    width: 90vmin;
}

.contact-content {
    display: flex;
    justify-content: center;
    margin-top: 30vmin;
    margin-right: 18vmin;
    font-size: 3vmin;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row-one {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5vmin 0;
}

.row-two {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project {
    padding: 0 5vmin;
    filter: drop-shadow(3vmin 2vmin 1vmin #00000056);
}

.project:hover {
    transform: scale(0.9);
    opacity: .9;
    filter: none;
}