@font-face {
    font-family: zangezisans09-black;
    src: url(./fonts/zangezisans09-black.woff);
}

@font-face {
    font-family: zangezisans09-text;
    src: url(./fonts/zangezisans09-text.woff);
}

@font-face {
    font-family: zangezisans09-regular;
    src: url(./fonts/zangezisans09-regular.woff);
}

.navbar {
    float: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5vmin;
}

.navbarEl:hover {
    transform: scale(0.9);
    filter: none;
}

.navbarEl {
    font-family: zangezisans09-text;
    background-color: #4E6683;
    width: 15vmin;
    text-align: center;
    padding: 1.5vmin .5vmin .5vmin .5vmin;
    margin: .6vmin;
    border-radius: 2vmin;
    font-size: 2.5vmin;
    filter: drop-shadow(1vmin 1vmin 1vmin #8a8a8a41);
}

a {
    color: #F6F3E4;
    text-decoration: none;
}

* {
    color: #F6F3E4;
    font-family: 'Source Sans Pro', sans-serif;
}

.home-body {
    background-image: url('https://i.imgur.com/cFs1PHv.jpg');
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding-bottom: 2vmin;
}

body {
    background-color: #F6F3E4;
}

.home-page-content {
    display: flex;
    height: 50vmin;
    margin: 10vmin 25vmin;
    width: 800px;
}

.home-navbar {
    float: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 7vmin 5vmin;
}

h1 {
    font-size: 10vmin;
    text-align: left;
    color: black;
    font-family: zangezisans09-black;
}

.home-headline {
    margin: 0;
    font-size: 3.9vmin;
    width: 51vmin;
    padding: 4vmin 0 0 0;
    font-family: zangezisans09-text;
    letter-spacing: 0vmin;
}

#home-headline-and-description {
    padding: 0 6vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 10vmin;
    width: 51vmin
}

.home-description {
    text-align: justify;
    line-height: 8vmin;
    width: 51vmin;
    font-size: 3vmin;
}

td {
    width: 17vmin;
    height: 8vmin;
}

.right {
    float: right;
}


.kk-img {
    margin-left: 20vmin;
    margin-top: 10vmin;
    filter: drop-shadow(1vmin 1vmin 1vmin #8a8a8a41);
}

.kk-img:hover {
    transform: rotate(1turn);
    transition-duration: 1.5s
}

p, .home-description {
    font-weight: 300;
    font-size: 3vmin;
}

h4 {
    font-size: 3vmin;
    margin: 3vmin 0;
    margin-bottom: -1vmin;
}

.kailah-korsh {
    font-size: 25vmin;
    line-height: 20vmin;
    margin-top: 0vmin;
    margin-left: -8vmin;
    color: #F6F3E4;
}

p.about-text {
    font-size: 2.2vmin;
    padding: 0 2vmin 2vmin 2vmin;
    line-height: 4vmin;
    margin: 0 5vmin 0 13vmin;
    color: black;
    font-family: zangezisans09-text;
}

.about {
    display: grid;
    grid-template-columns: repeat(2, 89vmin);
}

.about>img {
    height: 65vmin;
}

.contact-content {
    display: flex;
    justify-content: center;
    font-size: 2.2vmin;
    color: black;
    font-family: zangezisans09-text;
}

.projects {
	padding: 1rem;
	display: grid;
	grid-template-columns: repeat(7, 65vw);
	grid-template-rows: 1fr;
	grid-column-gap: 1rem;
	grid-row-gap: 1rem;
	overflow: scroll;
	height: 80vh;
	scroll-snap-type: both mandatory;
	scroll-padding: 1rem;
    align-items: center;
    margin-top: -10vmin;
    margin-left: 30vmin;
    margin-right: 40vmin;
}

.active {
	scroll-snap-type: unset;
}

li {
	scroll-snap-align: center;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	font-size: 0;
    width: 60vmin;
    text-align: center;
    height: 50vh;
    margin-left: 35vmin;
}

li > a > img {
    margin: 3vmin 5vmin;
    filter: drop-shadow(1vmin 1vmin 1vmin #8a8a8a41);
}
li > a > img:hover, .social-logo:hover {
    transform: scale(0.9);
    filter: none;
}

.social-logos {
    display: flex;
    justify-content: center;
    align-items: center;
}

h6 {
    font-family: zangezisans09-regular;
    color: black;
    font-size: 3vmin;
    margin: 3vmin 0 0 0;
}

.bucket-lister > h6 {
    margin-top: -3vmin;
}

.more-than-friends {
    margin-top: -5vmin
}

.more-than-friends > h6 {
    margin-top: 2vmin;
}

.minesweeper-img {
    margin-left: 10vmin;
}

p {
    color: black;
    font-size: 2.2vmin
}

.contact-body {
    width: 100vw;
    height: 30vmin;
    margin-top: 25vmin;
    margin-right: 60vmin;
}

.social-logo {
    margin: 3vmin 5vmin;
    height: 10vmin;
    filter: drop-shadow(1vmin 1vmin 1vmin #8a8a8a41);
}

.page-title {
    margin-left: 15vmin;
}

.gh-project {
    margin-top: 0;
    height: 5vmin;
}

.kailah {
    margin-right: 6vmin;
}

@media screen and (max-width: 1000px) {
    .about {
        display: flex;
        flex-direction: column;
    }

    .about>img {
        height: 70vmin;
        width: 49vmin;
        margin-left: 14.5vmin;
    }

    p.about-text {
        max-width: 80vmin;
    }

    .home-page-content {
        display: flex;
        flex-direction: column;
    }
    .background-readability {
        background-color: #4e668368;
        width: 50vmin;
        align-items: center;
    }
    .kailah-korsh {
        max-width: 50vmin;
    }
    li {
        width: 25vmin
    }
    .project-logo {
        height: 20vmin
    }
}

#mode-btn,
.home-description {
    cursor: pointer
}

#mode-btn {
    padding: 1vmin;
    font-family: zangezisans09-text;
    padding-top: 1.5vmin;
    padding-bottom: 1vmin;
    margin: -8vmin 5vmin 0 0;
    border: .25vmin solid #F6F3E4;
    border-radius: 2vmin;
    width: 6vmin;
    float: right;
    text-align: center;
    font-size: 2vmin;
}

.align-right {
    text-align: right;
}

.center {
    text-align: center;
}

td > a:hover {
    text-transform: lowercase;
    font-family: zangezisans09-black;
}