@font-face {
    font-family: zangezisans09-black;
    src: url(./fonts/zangezisans09-black.woff);
}

@font-face {
    font-family: zangezisans09-text;
    src: url(./fonts/zangezisans09-text.woff);
}

@font-face {
    font-family: zangezisans09-regular;
    src: url(./fonts/zangezisans09-regular.woff);
}

.navbar {
    float: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5vmin;
}

.navbarEl:hover {
    transform: scale(0.9);
    filter: none;
}

.navbarEl {
    font-family: zangezisans09-text;
    background-color: #4E6683;
    width: 15vmin;
    text-align: center;
    padding: 1.5vmin .5vmin .5vmin .5vmin;
    margin: .6vmin;
    border-radius: 1vmin;
    font-size: 2.5vmin;
    filter: drop-shadow(1vmin 2vmin 1vmin #8a8a8a41);
}

a {
    color: #F6F3E4;
    text-decoration: none;
}

* {
    color: #F6F3E4;
    font-family: 'Source Sans Pro', sans-serif;
}

.home-body {
    background-image: url('https://i.imgur.com/cFs1PHv.jpg');
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding-bottom: 2vmin;
}

body {
    background-color: #F6F3E4;
}

.home-page-content {
    display: flex;
    height: 45vmin;
    margin: 100px 250px;
    width: 800px;
}

.home-navbar {
    float: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 7vmin 5vmin;
}

h1 {
    font-size: 10vmin;
    text-align: left;
    color: black;
    font-family: zangezisans09-black;
}

.home-headline {
    margin: 0;
    font-size: 3.8vmin;
    width: 45vmin;
    font-family: zangezisans09-text;
}

.home-headline-and-description {
    padding: 0 6vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.home-description {
    text-align: justify;
    line-height: 8vmin;
    width: 44vmin;
    font-size: 3vmin;
}

.right {
    float: right;
}


.kk-img {
    margin-left: 20vmin;
    margin-top: 10vmin;
    filter: drop-shadow(1vmin 2vmin 1vmin #8a8a8a41);
}

p {
    font-weight: 300;
    font-size: 3vmin;
}

h4 {
    font-size: 3vmin;
    margin: 3vmin 0;
    margin-bottom: -1vmin;
}

.kailah-korsh {
    font-size: 25vmin;
    text-align: justify;
    line-height: 20vmin;
    margin-top: 0vmin;
    color: #F6F3E4;
}

.about-text {
    width: 75vmin;
    font-size: 2.5vmin;
    padding: 2vmin;
    line-height: 4vmin;
    margin: 0 15vmin;
    color: black;
    font-family: zangezisans09-text;
}

.contact-content {
    display: flex;
    justify-content: center;
    font-size: 3vmin;
    color: black;
    font-family: zangezisans09-text;
}

.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5vmin 10vmin;
}

.project {
    filter: drop-shadow(1vmin 2vmin 1vmin #8a8a8a41);
}

.project:hover {
    transform: scale(0.9);
    filter: none;
}

.social-logos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-body {
    width: 100vw;
    height: 30vmin;
    margin-top: 25vmin;
    margin-right: 60vmin;
}

.social-logo {
    margin: 3vmin 5vmin;
    filter: drop-shadow(1vmin 2vmin 1vmin #8a8a8a41);
}

.social-logo:hover {
    transform: scale(0.9);
    filter: none;
}

.smaller {
    font-size: 2vmin;
    color: black;
    font-family: zangezisans09-text;

}

.project-text {
    text-align: center;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 60px;
    padding: 0 20px;
    font-size: 2vmin;
}

.bucket-lister-description {
    color: black;
    font-family: zangezisans09-regular;
    margin-top: 0px;
    width: 320px;
}

.project-description {
    color: black;
    font-family: zangezisans09-regular;
    width: 35vmin;
}

.page-title {
    margin-left: 17vmin;

}

.pickleball {
    margin-top: 50px;
}

.gettogether  {
    margin-top: 40px;
}

.gettogether-img {
    margin-top: 40px;
}

.minesweeper-img {
    margin-top: -10vmin;
}

.minesweeper {
    margin-top: 5vmin;
}

.gh-project {
    margin-top: 0;
}